.container{
    display: grid;
    grid-template-areas: 
    "header header header"
    "sidebar main main"
    "footer footer footer";
    grid-template-rows : 60px 1fr 60px;
    grid-column:  200px 1fr 1fr;
    height: 90vh;
    width: 100vm;
    gap: 2px;
}
.header{
    grid-area: header;
    background-color: black;
    color: white;
    align-items: center;
   display: flex;
   padding: 0 20px;
}
.sb{
    grid-area: sidebar;
    background-color: white;
    padding: 20px;
}
.footer{
    grid-area:footer;
    background: #333;
    color: white;
    text-align: center;
    line-height: 60px;
}
.main{
    grid-area: main;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 20px;
}
.product{
    border: 1px solid #000000;
    padding:40px;
    text-align: center;

}
.product img{
    width: 100%;
    height: auto;

}
.product img:hover {
transform: scale(1.1);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


